{% extends "account/base_entrance.html" %}
{% load allauth %}
{% load i18n %}

{% block extra_title %}
    {% trans "Confirm Access" %}
{% endblock extra_title %}

{% block page_header_text %}
    {% element h1 %}
        {% trans "Confirm Access" %}
    {% endelement %}
{% endblock page_header_text %}

{% block inner_content %}
    {% element p %}
        {% blocktranslate %}Please reauthenticate to safeguard your account.{% endblocktranslate %}
    {% endelement %}
    {% block reauthenticate_content %}{% endblock %}
    {% if reauthentication_alternatives %}
        {% element hr %}
        {% endelement %}
        {% element h2 %}
            {% translate "Alternative options" %}
        {% endelement %}
        {% element button_group %}
            {% for alt in reauthentication_alternatives %}
                {% element button href=alt.url tags="primary,outline" %}
                    {{ alt.description }}
                {% endelement %}
            {% endfor %}
        {% endelement %}
    {% endif %}
{% endblock inner_content %}
