{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="welcome-banner">
    <div class="overlay"></div>
    <div class="banner-content p-5 text-center text-dark">
        <h1 class="title-font fw-bold">DISCOVER WINES AT BEST PRICE</h1>
        <h2 class="subtitle-font fw-bold">Start browsing our collection of incredible wines</h2>
        <a class="btn btn-danger btn-lg mt-3" href="{% url 'all_products' %}" role="button">SHOP NOW</a>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col text-center">
            <h3 class="subtitle-font fw-bold">Best Sellers</h3>
            <p>Sip into satisfaction with these crowd-pleasers.</p>
        </div>
    </div>
    <div class="row mb-3">
        {% for product in best_sellers %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 col-md-6 d-lg-none col-xl-3 p-2 mb-3 d-xl-flex">
            <div class="card border-dark shadow product-card mx-auto h-100">
                <div class="p-2 align-self-center product-img-box position-relative">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid product-img" alt="{{ product.name }}">
                    <a href="{% url 'product_detail' product.id %}" class="stretched-link"></a>
                    {% else %}
                    <img src="/media/no-image-sm.webp" class="img-fluid product-img" alt="{{ product.name }}">
                    <a href="{% url 'product_detail' product.id %}" class="stretched-link"></a>
                    {% endif %}
                </div>
                <div class="card-body text-center py-2 d-flex flex-column justify-content-evenly">
                    <p class="card-text text-uppercase opacity-75 mb-1">{{ product.brand.friendly_name }}</p>
                    <h4 class="card-title menu-font text-uppercase fs-5 mb-1 fw-bold">{{ product.name }}</h4>
                    <p class="card-text opacity-75 mb-1 text-capitalize">{{ product.origin }}</p>
                    <h5 class="card-title product-price fs-4 m-2">
                        {% if product.sale_price and product.sale_price < product.price %}
                            <!-- Sale price exists and is less than regular price -->
                            <span class="text-decoration-line-through fs-5 text-muted">€ {{ product.price }}</span>
                            <span class="text-danger">€ {{ product.sale_price }}</span>
                        {% else %}
                            <!-- Regular price only -->
                            € {{ product.price }}
                        {% endif %}
                    </h5>
                    <div class="row">
                        <div class="col-7 mx-auto">
                            <div class="input-group">
                                <button class="btn btn-outline-dark fw-bold fs-5 p-1 quantity-btn"
                                    type="button">+</button>
                                <input type="number" class="form-control border border-dark quantity-input fw-bold"
                                    value="1" aria-label="Product quantity">
                                <button class="btn btn-outline-dark fw-bold fs-5 p-1 quantity-btn"
                                    type="button">-</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center border-top-0 mt-1 mb-3 bg-white">
                    <a class="btn btn-dark text-uppercase" href="#" role="button">Add to cart</a>
                </div>
                {% if product.sale_price and product.sale_price < product.price %}
                <div class="rounded-circle text-bg-danger discount-indicator position-absolute d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-solid fa-percent fs-3"></i>
                </div>
                {% endif %}
                <div
                    class="text-danger wishlist-plus position-absolute d-flex flex-column justify-content-center align-items-center">
                    <a href="#" class="link-danger" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-title="Add to Wishlist">
                        <i class="fa-solid fa-heart-circle-plus fs-2"></i>
                    </a>
                </div>
                <div
                    class="text-danger wishlist-minus position-absolute d-flex flex-column justify-content-center align-items-center d-none">
                    <a href="#" class="link-danger" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-title="Remove from Wishlist">
                        <i class="fa-solid fa-heart-circle-minus fs-2"></i>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-2 mb-3">
            <div class="card border-dark shadow product-card mx-auto h-100">
                <div class="p-2 align-self-center product-img-box position-relative">
                    {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid product-img" alt="{{ product.name }}">
                    <a href="{% url 'product_detail' product.id %}" class="stretched-link"></a>
                    {% else %}
                    <img src="/media/no-image-sm.webp" class="img-fluid product-img" alt="{{ product.name }}">
                    <a href="{% url 'product_detail' product.id %}" class="stretched-link"></a>
                    {% endif %}
                </div>
                <div class="card-body text-center py-2 d-flex flex-column justify-content-evenly">
                    <p class="card-text text-uppercase opacity-75 mb-1">{{ product.brand.friendly_name }}</p>
                    <h4 class="card-title menu-font text-uppercase fs-5 mb-1 fw-bold">{{ product.name }}</h4>
                    <p class="card-text opacity-75 mb-1 text-capitalize">{{ product.origin }}</p>
                    <h5 class="card-title product-price fs-4 m-2">
                        {% if product.sale_price and product.sale_price < product.price %}
                            <!-- Sale price exists and is less than regular price -->
                            <span class="text-decoration-line-through fs-5 text-muted">€ {{ product.price }}</span>
                            <span class="text-danger">€ {{ product.sale_price }}</span>
                        {% else %}
                            <!-- Regular price only -->
                            € {{ product.price }}
                        {% endif %}
                    </h5>
                    <div class="row">
                        <div class="col-7 mx-auto">
                            <div class="input-group">
                                <button class="btn btn-outline-dark fw-bold fs-5 p-1 quantity-btn"
                                    type="button">+</button>
                                <input type="number" class="form-control border border-dark quantity-input fw-bold"
                                    value="1" aria-label="Product quantity">
                                <button class="btn btn-outline-dark fw-bold fs-5 p-1 quantity-btn"
                                    type="button">-</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center border-top-0 mt-1 mb-3 bg-white">
                    <a class="btn btn-dark text-uppercase" href="#" role="button">Add to cart</a>
                </div>
                {% if product.sale_price and product.sale_price < product.price %}
                <div class="rounded-circle text-bg-danger discount-indicator position-absolute d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-solid fa-percent fs-3"></i>
                </div>
                {% endif %}
                <div
                    class="text-danger wishlist-plus position-absolute d-flex flex-column justify-content-center align-items-center">
                    <a href="#" class="link-danger" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-title="Add to Wishlist">
                        <i class="fa-solid fa-heart-circle-plus fs-2"></i>
                    </a>
                </div>
                <div
                    class="text-danger wishlist-minus position-absolute d-flex flex-column justify-content-center align-items-center d-none">
                    <a href="#" class="link-danger" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-title="Remove from Wishlist">
                        <i class="fa-solid fa-heart-circle-minus fs-2"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-12 text-center text-md-end me-4">
            <a class="btn btn-dark my-2 mb-3" href="#" role="button">SEE MORE >></a>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col text-center">
            <h3 class="subtitle-font fw-bold">Four Reasons to Buy Wine Online From Us</h3>
            <p>Because finding great wine should be simple and fun.</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-6 col-lg-3 p-2">
            <div class="p-2 d-flex flex-column text-center card border-dark shadow h-100">
                <img src="/media/icon-shipping-box.webp" alt="shipping box icon" class="img-fluid w-50 align-self-center">
                <h4 class="subtitle-font text-center">Fast Shipping for Faster Sipping</h4>
                <p>Savor your wine sooner! Orders are processed and shipped within 1-2 business days for speedy
                    delivery.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-2">
            <div class="p-2 d-flex flex-column text-center card border-dark shadow h-100">
                <img src="/media/icon-wine-bottle.webp" alt="wine bottle icon" class="img-fluid w-50 align-self-center">
                <h4 class="subtitle-font">Shop Hundreds of Wines</h4>
                <p>Choose from 250+ premium wines from 45+ wineries worldwide, known for their consistent acclaim.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-2">
            <div class="p-2 d-flex flex-column text-center card border-dark shadow h-100">
                <img src="/media/icon-leaf.webp" alt="leaf icon" class="img-fluid w-50 align-self-center">
                <h4 class="subtitle-font">Support Sustainable Wines</h4>
                <p>Enjoy wines made with eco-friendly methods that support a healthier planet. Sip well. Feel good.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 p-2">
            <div class="p-2 d-flex flex-column text-center card border-dark shadow h-100">
                <img src="/media/icon-cheers.webp" alt="two glasses cheers icon" class="img-fluid w-50 align-self-center">
                <h4 class="subtitle-font">Confidence in Every Cart</h4>
                <p>We back our wines with a 100% satisfaction guarantee. If you're not happy, we'll make it right.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}