/* ~~~~~~~~~~ General styles ~~~~~~~~~~ */

body {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;

}

.title-font {
    font-family: "Alegreya Sans SC", sans-serif;
}

.menu-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}

.subtitle-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: oblique;
}

.form-control.custom-focus:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem #4bff008a;
}
  
/* ~~~~~~~~~~ Footer ~~~~~~~~~~ */

.social-icon .fa-brands:hover {
    color: #ffc107;
}

/* ~~~~~~~~~~ Home page ~~~~~~~~~~ */

.welcome-banner {
    height: 300px;
    background: url('/media/welcome-banner.webp') no-repeat center center;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: .4;
}

.banner-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

/* ~~~~~~~~~~ Product card ~~~~~~~~~~ */

.product-card {
    max-width: 350px;
}

.product-img-box .product-img {
    height: 300px;
}

.quantity-btn {
    width: 30px;
}

.form-control.quantity-input:focus {
    box-shadow: none;
}

.quantity-input {
    width: 50px;
}

.discount-indicator,
.wishlist-plus,
.wishlist-minus {
    width: 50px;
    height: 50px;
}

.discount-indicator {
    top: 5px; 
    left: 5px; 
}
.wishlist-plus {
    top: 5px;
    right: 5px;
}

.wishlist-minus {
    top: 5px;
    right: 5px;
}

/* ~~~~~~~~~~ Products view ~~~~~~~~~~ */

.sort-drop .dropdown-toggle::after {
    display: none;
}

.page-link:hover,
.page-link:focus {
    color: #0d6efd !important;
}

/* ~~~~~~~~~~ Allauth forms ~~~~~~~~~~ */

.allauth-inner-content form .form-text {
    color: #000000;
}

/* ~~~~~~~~~~ Filter ~~~~~~~~~~ */

.filter-form > div {
    flex: 0 0 auto;
    width: auto;
    padding: .5rem;
    margin-right: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.filter-form .form-label {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: oblique;
    font-size: 1.5rem;
    text-transform: capitalize;
    border-bottom: 2px solid #0d6efd;
}

.filter-form .form-check > .form-check-label {
    text-transform: capitalize;
}