{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <h1 class="title-font fw-bold">Terms & Conditions</h1>
        </div>
        <div class="col-12">
            <p>Welcome to WineStore! By accessing or using our website, you agree to comply with and be bound by the
                following terms and conditions of use. Please review these terms carefully.</p>

            <!-- Section: Acceptance of Terms -->
            <h2 class="subtitle-font fw-bold">Acceptance of Terms</h2>
            <p>By using this website, you agree to be bound by these Terms of Service and all applicable laws and
                regulations. If you do not agree with any of these terms, you are prohibited from using or accessing
                this site.</p>

            <!-- Section: Use of the Site -->
            <h2 class="subtitle-font fw-bold">Use of the Site</h2>
            <p>You agree to use our website for lawful purposes only. You must not misuse the site by intentionally
                introducing viruses, trojans, or other harmful material.</p>

            <!-- Section: Intellectual Property -->
            <h2 class="subtitle-font fw-bold">Intellectual Property</h2>
            <p>All content on this website, including text, graphics, logos, and images, is the property of WineStore or
                its content suppliers. Unauthorized use or reproduction is prohibited.</p>

            <!-- Section: Modifications to Terms -->
            <h2 class="subtitle-font fw-bold">Modifications</h2>
            <p>We reserve the right to modify these Terms of Service at any time. Any changes will be effective
                immediately upon posting to the site.</p>

            <!-- Contact information -->
            <p>If you have any questions about these terms, please contact us at <strong>winestore@example.com</strong>.
            </p>
        </div>
    </div>
</div>

{% endblock %}