{% load static %}
<footer class="flex-shrink-0">
    <div class="container-fluid text-bg-success">
        <div class="row p-3">
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="border-bottom border-warning border-2 pb-2">CONTACT US</h5>
                <p>Need help? Don't keep your questions bottled up.</p>
                <a class="btn btn-outline-light" href="#" role="button">WRITE US</a>
                <div class="d-flex flex-row justify-content-evenly mt-2">
                    <a class="link-light fs-3" href="https://www.facebook.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page - Opens in a new tab">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    <a class="link-light fs-3" href="https://www.instagram.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Instagram page - Opens in a new tab">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="link-light fs-3" href="https://x.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page - Opens in a new tab">
                        <i class="fa-brands fa-square-twitter"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="border-bottom border-warning border-2 pb-2">OUR LOCATION</h5>
                <p class="mb-0">107 Kesh Rd., Glanmire</p>
                <p class="mb-0">County Kerry, Ireland</p>
                <br/>
                <p class="mb-0"><i class="fa-solid fa-phone"></i> (012) 345 6789</p>
                <p class="mb-0">Mon-Fri: 9AM – 5PM</p>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="border-bottom border-warning border-2 pb-2">HELPFUL LINKS</h5>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Shipping Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Returns & Refunds</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="border-bottom border-warning border-2 pb-2">STAY CONNECTED</h5>
            </div>
        </div>
    </div>
    <div class="text-center pb-3 w-100 text-bg-dark">
        <p class="m-0">&copy; Copyright 2024 <strong>WineStore</strong> | For educational purposes <a class="link-light"
                href="https://github.com/VL-ocean" target="_blank" rel="noopener"
                aria-label="Visit my GitHub page - Opens in a new tab"><i
                    class="fa-brands fa-square-github fa-lg"></i></a></p>
    </div>
</footer>