{% load static %}
<footer class="flex-shrink-0 text-bg-dark">
    <div class="container-fluid pb-3">
        <div class="row p-3">
            <div class="col-12 col-md-6 col-xl-3 my-2 p-2">
                <h5 class="border-bottom border-warning border-2 pb-2 subtitle-font text-uppercase">Contact us</h5>
                <p class="mb-0">Need help? Don't keep your questions bottled up.</p>
                <p>Write us to <strong>winestore@example.com</strong></p>
                <div class="d-flex flex-row justify-content-evenly my-3">
                    <a class="link-light fs-3 social-icon" href="https://www.facebook.com/" target="_blank"
                        rel="noopener" aria-label="Visit our Facebook page - Opens in a new tab">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    <a class="link-light fs-3 social-icon" href="https://www.instagram.com/" target="_blank"
                        rel="noopener" aria-label="Visit our Instagram page - Opens in a new tab">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="link-light fs-3 social-icon" href="https://x.com/" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page - Opens in a new tab">
                        <i class="fa-brands fa-square-twitter"></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 my-2 p-2">
                <h5 class="border-bottom border-warning border-2 pb-2 subtitle-font text-uppercase">Our location</h5>
                <div class="row">
                    <div class="col-5 position-relative justify-content-center">
                        <img class="img-fluid w-100" src="{{ MEDIA_URL }}map.webp" alt="Map">
                        <a href="https://maps.app.goo.gl/y6csEroQLoYnfHvK6" class="stretched-link" target="_blank"
                            rel="noopener" aria-label="Find location in Google map - Opens in a new tab"></a>
                    </div>
                    <div class="col-7">
                        <p class="mb-0">107 Kesh Rd., Glanmire</p>
                        <p class="mb-0">County Kerry, Ireland</p>
                        <br />
                        <p class="mb-0"><i class="fa-solid fa-phone"></i> (012) 345 6789</p>
                        <p class="mb-0">Mon-Fri: 9AM – 5PM</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 my-2 p-2">
                <h5 class="border-bottom border-warning border-2 pb-2 subtitle-font text-uppercase">Helpful links</h5>
                <ul class="navbar-nav" style="--bs-navbar-hover-color: #ffc107">
                    <li class="nav-item">
                        <a class="nav-link p-1" href="{% url 'privacy_policy' %}">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-1" href="{% url 'terms_n_conditions' %}">Terms & Conditions</a>
                    </li>
                </ul>
            </div>
            <!-- Newsletter Section -->
            <div class="col-12 col-md-6 col-xl-3 my-2 p-2">
                <div id="mc_embed_shell">
                    <div id="mc_embed_signup">
                        <form
                            action="https://herokuapp.us9.list-manage.com/subscribe/post?u=c1995506de3a371e762bc1464&amp;id=981ba61d10&amp;f_id=005251e1f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h5 class="border-bottom border-warning border-2 pb-2 subtitle-font text-uppercase">Stay
                                    connected</h5>
                                <p class="mb-2">Subscribe to our newsletter for staying updated with WineStore, future
                                    releases and events.</p>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address
                                        <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required=""
                                        value="" placeholder="name@example.com">
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    /* real people should not fill this in and expect good things - do not remove this
                                    or risk form bot
                                    signups */
                                    <input type="text" name="b_c1995506de3a371e762bc1464_981ba61d10" tabindex="-1"
                                        value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                            class="button btn btn-outline-dark text-uppercase" value="Subscribe">
                                        <p style="margin: 0px auto;" class="d-none">
                                            <a href="http://eepurl.com/i3B76U"
                                                title="Mailchimp - email marketing made easy and fun">
                                                <span
                                                    style="display: inline-block; background-color: black; border-radius: 4px;">
                                                    <img class="refferal_badge"
                                                        src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-light.svg"
                                                        alt="Intuit Mailchimp"
                                                        style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;">
                                                </span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pb-3 w-100">
        <p class="m-0">&copy; Copyright 2024 <strong>WineStore</strong> | For educational purposes <a
                class="link-light social-icon" href="https://github.com/VL-ocean" target="_blank" rel="noopener"
                aria-label="Visit my GitHub page - Opens in a new tab"><i
                    class="fa-brands fa-square-github fa-lg"></i></a></p>
    </div>
</footer>