{% load static %}
<header>
    <div class="bg-success text-white text-center p-2">
        <p class="m-0">More than a store, we're an experience.</p>
    </div>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg sticky-top">
        <div class="container-fluid py-2">
            <a class="navbar-brand title-font" href="#">WineStore <i class="fa-solid fa-wine-glass"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 menu-font">
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            SHOP WINE
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">RED WINE</a></li>
                            <li><a class="dropdown-item" href="#">WHITE WINE</a></li>
                            <li><a class="dropdown-item" href="#">ROSÈ WINE</a></li>
                            <li><a class="dropdown-item" href="#">SPARKLING WINE</a></li>
                            <li><a class="dropdown-item" href="#">SPARKLING ROSÈ</a></li>
                            <li>
                                <hr class="dropdown-divider text-bg-light">
                            </li>
                            <li><a class="dropdown-item" href="#">ALL WINE</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">PROMOTIONS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACT US</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            MY ACCOUNT
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="#">PRODUCT MANAGEMENT</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="#">MY PROFILE</a></li>
                            <li><a class="dropdown-item" href="#">WISHLIST</a></li>
                            <li>
                                <hr class="dropdown-divider text-bg-light">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'account_logout' %}">LOGOUT</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'account_signup' %}">REGISTER</a></li>
                            <li><a class="dropdown-item" href="{% url 'account_login' %}">LOGIN</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2 custom-focus" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    {% block banner %}
    <div id="promotion-banner" class="px-3 bg-danger text-center p-1">
        <h4 class="my-1 text-white">EVERY FRIDAY FREE SHIPPING FOR ORDERS ABOVE 20 EUR</h4>
    </div>
    {% endblock %}
</header>