<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font fw-bold nav-link text-black me-5" href="{% url 'home' %}" id="home-link">
                HOME
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#" id="shop-wine-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP WINE
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-wine-link">
                <a href="" class="dropdown-item">Red Wine</a>
                <a href="" class="dropdown-item ">White Wine</a>
                <a href="" class="dropdown-item ">Rosè Wine</a>
                <a href="" class="dropdown-item">Sparkling Wine</a>
                <a href="" class="dropdown-item">Sparkling Rosè</a>
                <a href="" class="dropdown-item">All Wine</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#">
                PROMOTIONS
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#">
                ABOUT US
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font fw-bold nav-link text-black" href="#">
                CONTACT US
            </a>
        </li>
    </ul>
</div>