{% extends "base.html" %}
{% load static %}

{% block extra_title %}Edit Product{% endblock %}

{% block content %}
<div class="container mb-4">
    <!-- Page header -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-4 text-center">
            <h2 class="title-font mb-4">Product Management</h2>
            <h5 class="text-body-secondary subtitle-font">Edit a Product</h5>
        </div>
    </div>
    <!-- Editing form -->
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div class="text-center">
                    <a class="btn btn-outline-dark" href="{% url 'all_products' %}">Cancel</a>
                    <button class="btn btn-dark" type="submit">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('#new-image').change(function () {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    });
</script>
{% endblock %}