{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Product Detail{% endblock %}

{% block content %}

<div class="container pb-5">
    <div class="row m-3">
        <div class="col-12 col-lg-6 d-flex flex-column position-relative">
            <!-- Product image with fallback -->
            <div class="p-2 align-self-center product-img-box position-relative">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
                    <a href="{{ product.image.url }}" class="stretched-link" target="_blank"></a>
                {% else %}
                    <img src="{{ MEDIA_URL }}no-image-sm.webp" class="img-fluid border border-dark rounded"
                        alt="{{ product.name }}">
                    <a href="" class="stretched-link"></a>
                {% endif %}
            </div>
            <!-- Discount icon -->
            {% if product.sale_price and product.sale_price < product.price %}
                <div
                    class="rounded-circle text-bg-danger discount-indicator position-absolute d-flex flex-column justify-content-center align-items-center">
                    <i class="fa-solid fa-percent fs-3"></i>
                </div>
            {% endif %}
            <!-- Manage wishlist -->
            <div class="text-danger wishlist-icons position-absolute">
                <form method="post" action="{% url 'manage-wishlist' product.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <button type="submit" class="btn p-0 icon text-danger fs-2"
                        aria-label="Add this product to your wishlist">
                        {% if is_favourited %}
                            <i class="fa-solid fa-heart-circle-minus fs-2" data-bs-toggle="tooltip"
                            data-bs-placement="right" data-bs-title="Remove from Wishlist"></i>
                        {% else %}
                            <i class="fa-solid fa-heart-circle-plus fs-2" data-bs-toggle="tooltip" data-bs-placement="right"
                            data-bs-title="Add to Wishlist"></i>
                        {% endif %}
                    </button>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="p-4">
                <!-- Admin links -->
                {% if request.user.is_superuser %}
                    <div class="py-2">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </div>
                {% endif %}
                <!-- Product details -->
                <p class="m-1 small text-uppercase">SKU: {{ product.sku }}</p>
                <p class="text-uppercase opacity-75 m-1">{{ product.brand.friendly_name }}</p>
                <h3 class="menu-font text-uppercase fs-5 m-1 fw-bold">{{ product.name }}
                    {{product.variety.friendly_name}}</h3>
                <p class="opacity-75 m-1 text-capitalize">{{product.vintage}} | {{ product.origin }}</p>
                <p class="m-1 text-capitalize">{{ product.bottle_size }}</p>
                <a href="{% url 'all_products' %}?category={{ product.category.id }}"
                    class="m-1 text-capitalize text-decoration-none link-dark category-link">
                    {{ product.category.friendly_name }}<i class="fa-solid fa-champagne-glasses ps-1"></i>
                </a>
                <h4 class="product-price fs-4 m-2">
                    {% if product.sale_price and product.sale_price < product.price %}
                        <!-- Sale price exists and is less than regular price -->
                        <span class="text-decoration-line-through fs-5 text-muted">€ {{ product.price }}</span>
                        <span class="text-danger">€ {{ product.sale_price }}</span>
                    {% else %}
                        <!-- Regular price only -->
                        € {{ product.price }}
                    {% endif %}
                </h4>
                <!-- Form to add product to shopping bag -->
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row my-3">
                        <!-- Quantity selector -->
                        <div class="col-6">
                            <div class="input-group input-group-{{ product.id }}">
                                <button
                                    class="btn btn-outline-dark fw-bold fs-5 p-1 quantity-btn increment-qty increment-qty_{{ product.id }}"
                                    type="button" data-item_id="{{ product.id }}">+</button>
                                <input
                                    class="form-control border border-dark quantity-input fw-bold qty_input id_qty_{{ product.id }}"
                                    type="number" name="quantity" value="1" min="1" max="99"
                                    data-item_id="{{ product.id }}">
                                <button
                                    class="btn btn-outline-dark fw-bold fs-5 p-1 quantity-btn decrement-qty decrement-qty_{{ product.id }}"
                                    type="button" data-item_id="{{ product.id }}">-</button>
                            </div>
                        </div>
                        <div class="col-6">
                            <input type="submit" class="btn btn-dark text-uppercase" value="Add to cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
                <div class="row my-2">
                    <div class="col-auto p-2">
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tasting notes section -->
    <div class="row">
        <div class="col m-2 p-3">
            <h5 class="text-capitalize subtitle-font"><i class="fa-solid fa-wine-bottle"></i> Tasting notes</h5>
            <p>{{product.tasting_notes}}</p>
        </div>
    </div>
    <!-- Reviews section -->
    <div class="row justify-content-between">
        <div class="col-auto m-2 p-3">
            <h5 class="text-capitalize subtitle-font"><i class="fa-solid fa-star"></i> Reviews</h5>
        </div>
        <div class="col-auto m-2 p-3 text-end">
            <!-- Star Rating Display -->
            <span class="rating-stars ms-3 d-inline-flex align-items-center">
                {% if average_rating %}
                    {% for i in "12345"|make_list %}
                        {% if i|add:0 <= average_rating %}
                            <i class="fa-solid fa-star" style="color:#f0bc00"></i>
                        {% else %}
                            <i class="fa-solid fa-star" style="color:#dcdcdc"></i>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </span>
        </div>
    </div>
    <div class="row">
        <!-- Display reviews on the left on desktop -->
        <div class="col-12 col-lg-6">
            {% include 'reviews/display-reviews.html' %}
        </div>
        <!-- Form to add a review on the right on desktop -->
        <div class="col-12 col-lg-6">
            {% include 'reviews/add-review.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}